ul {
    list-style: none;
}

nav {
    height: 54px;
    background-color: #f8f9fa;
}

.vp-container {
    height: calc(100vh - 54px);
    font-size: 13px;
}

.vp-container aside {
    width: 120px;
    background-color: #051e34;
    background-image: url('img/sidebar-bg.png');
}

.vp-container .vp-inner-container {
    width: calc(100% - 120px);
}

.vp-container .vp-inner-container header {
    height: 100px;
    background-color: #1b72e8;
}

.vp-container .vp-inner-container main {
    height: calc(100% - 100px);
    background-color: #f8f9fa;
}

main .row .col-8 .card .card-body table tbody tr td img {
    height: 2em
} 
