ul {
    list-style: none;
}

nav,
.vp-container .vp-inner-container main {
    background-color: #f8f9fa;
}

.vp-container {
    height: calc(100vh - 54px);
}

.vp-container aside {
    width: 120px;

    font-size: 14px;
    background-color: #051e34;
    background-image: url('img/sidebar-bg.png');
}

.vp-container .vp-inner-container {
    width: calc(100vw - 120px);
}

.vp-container .vp-inner-container header {
    width: 100%;

    font-size: 14px;
    background-color: #1b72e8;
}
