/* general */
ul {
    list-style: none;
}

/* nav */
nav {
    height: 54px;
    background-color: #f8f9fa;
}

nav .searchbar {
    --bs-border-width: 0;
}

/* general container */
.vp-container {
    height: calc(100vh - 54px);
    font-size: 13px;
}

/* aside */
.vp-container aside {
    width: 120px;
    background-color: #051e34;
    background-image: url('img/sidebar-bg.png');
}

.vp-container aside .aside-top ul li,
.vp-container aside .aside-bottom {
    transition: all .2s;
}

.vp-container aside .aside-top ul li:hover,
.vp-container aside .aside-bottom:hover {
    background-color: #868e9a;
    cursor: pointer;
}

/* inner container + header */
.vp-container .vp-inner-container {
    width: calc(100% - 120px);
}

.vp-container .vp-inner-container header {
    background-color: #1b72e8;
}

/* offcanvas */
.offcanvas.__offcanvas {
    width: 500px;
}

/* main */
.vp-container .vp-inner-container main {
    background-color: #f8f9fa;
}

main .row .col-12 .card .card-body table tbody tr td img {
    height: 2em;
} 

/* media queries */
@media screen and (max-width: 992px) {
    .vp-container aside {
        width: 50px; 
    }

    .vp-container aside .icons-txt {
        display: none;
    }

    .vp-container .vp-inner-container {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 576px) {
    .offcanvas.__offcanvas {
        width: 100%;
    }
}





/* TEST */
#mobilelogo {
    width: 2.5em;
}  
/* /TEST */
